.postListContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #202329;

    h1{
        text-align: center;
        color: white;
    }
};

